extends templates/layout
block content
  include templates/menu
  .container
    block admin
      br
      h1= title
      p Hola #{user}, bienvenido a #{title}
      br
      #content.row
        .span3
          h3 Menú
          ul.nav.nav-list
            li
              a(href='#') 
                i.icon-home
                |Home
                i.icon-chevron-right.menuItems
            li
              a.accordion-toggle(href='#collapseOne', data-toggle='collapse') 
                i.icon-plus-sign
                |Acciones
                i.icon-chevron-right.menuItems
            div#collapseOne.accordion-body.collapse.in
              div.accordion-inner
                ul.nav.nav-list
                  li
                    a(href='#')
                      i.icon-book 
                      |Ver examenes
                      i.icon-chevron-right.menuItems
                  li
                    a(href='#')
                      i.icon-check 
                      |Ver notas
                      i.icon-chevron-right.menuItems
            li
              a(href='#') 
                i.icon-search
                |Buscar profesor
                i.icon-chevron-right.menuItems
        .span9
          h1 Contenido
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget nunc nec tortor volutpat dictum. In hac habitasse platea dictumst. Maecenas nulla enim, pharetra ac aliquam sed, auctor ut libero. Sed eget cursus justo. Aliquam erat erat, posuere at faucibus a, malesuada sed ipsum. Sed sit amet facilisis tortor.
    script(data-main='javascripts/main', src='javascripts/require.js')
    
