extends templates/layout
block content
  include templates/menu
  .container
    script(type='text/javascript')
      window.userId = "#{id}";
    block admin
      br
      h1= title
      p Hola #{user}, bienvenido a #{title}
      br
      #content.row
        .span3
          h3 Menú
          ul.nav.nav-list
            li
              a(href='#') Home
            li
              a(href='#') Profesores
            li
              a(href='#') Alumnos
        .span9
          h1 Contenido
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget nunc nec tortor volutpat dictum. In hac habitasse platea dictumst. Maecenas nulla enim, pharetra ac aliquam sed, auctor ut libero. Sed eget cursus justo. Aliquam erat erat, posuere at faucibus a, malesuada sed ipsum. Sed sit amet facilisis tortor.
    script(data-main='javascripts/main', src='javascripts/require.js')
    
