extends templates/layout
block content
  include templates/menu
  .container
    block admin
      br
      h1= title
      p Hola #{user}, bienvenido a #{title}
      br
      #content.row
        .span3
          h3 Menú
          #accordion2.accordion
            .accordion-group
              .accordion-heading
                a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseOne')
                  | Collapsible Group Item #1
              #collapseOne.accordion-body.collapse.in
                .accordion-inner
                  | Anim pariatur cliche...
            .accordion-group
              .accordion-heading
                a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#collapseTwo')
                  | Collapsible Group Item #2
              #collapseTwo.accordion-body.collapse
                .accordion-inner
                  | Anim pariatur cliche...
        .span9
          h1 Contenido
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget nunc nec tortor volutpat dictum. In hac habitasse platea dictumst. Maecenas nulla enim, pharetra ac aliquam sed, auctor ut libero. Sed eget cursus justo. Aliquam erat erat, posuere at faucibus a, malesuada sed ipsum. Sed sit amet facilisis tortor.
    script(data-main='javascripts/main', src='javascripts/require.js')