extends templates/layout
block content
  body.body-login
    .login
        h1(style='color: #ffffff;') Bienvenido a NodeQuizAdmin
      .inner-login
        h3 Por favor, haga login para continuar.
        br
        #login-container
        