extends templates/layout
block content
  body.body-login
    .contenedor
      .login
          h1(style='color: #ffffff;') Bienvenido a NodeQuizAdmin
        .inner-login
          h3 Por favor, haga login para continuar.
          br
          #login-container
          form#login-form
            .control-group
              .controls
                input#user(name='user', type='text', placeholder='Usuario')
            .control-group
              .controls
                input#password(name='pass', type='password', placeholder='Contraseña')
            .control-group
              .controls
                label.errMsg(style='color:red; display:none;')
          
                label(for='remember') Recordarme
                input#remember(type='checkbox')
            button.btn.btn-info(type='submit') Entrar
          small NodeQuizAdmin - ¡Tu manejador de examenes online!

    script(data-main='javascripts/login', src='javascripts/require.js')