<div class="span9">
   <form>
      <h1 id="examName" name="examName">Examen *nombre del examen*</h1>
      <h4 id="question1" name="question1">&nbsp
         Nombre de pregunta 1
      </h4>
      <label class="radio">
        <input id="respuesta1-1" type="radio" name="respuesta1" value="option1" checked="checked" />Respuesta 1</label>
      <label class="radio">
        <input id="respuesta1-2" type="radio" name="respuesta1" value="option2" />Respuesta 2</label>
      <label class="radio">
        <input id="respuesta1-3" type="radio" name="respuesta1" value="option3" />Respuesta 3</label>
      <label class="radio">
        <input id="respuesta1-4" type="radio" name="respuesta1" value="option4" />Respuesta 4</label>
      <hr />
      <h4 id="question2" name="question2">&nbsp
         Nombre de pregunta 2
      </h4>
      <label class="radio"><input id="respuesta2-1" type="radio" name="respuesta2" value="option1" checked="checked" />Respuesta 1</label>
      <label class="radio">
        <input id="respuesta2-2" type="radio" name="respuesta2" value="option2" />Respuesta 2</label>
      <label class="radio">
        <input id="respuesta2-3" type="radio" name="respuesta2" value="option3" />Respuesta 3</label>
      <label class="radio">
        <input id="respuesta2-4" type="radio" name="respuesta2" value="option4" />Respuesta 4</label>
      <br /><button id="sendExam" class="btn btn-primary">Enviar Examen</button>
   </form>
</div>