<!-- Template for login form -->
<div id='login-container'>
  <div class='control-group'>
    <div class='controls'>
      <input id='user' name='user' type='text' placeholder='Usuario'>
    </div>
  </div>
  <div class='control-group'>
    <div class='controls'>
      <input id='password' name='pass' type='password' placeholder='Contraseña'>
    </div>
  </div>
  <div class='control-group'>
    <div class='controls'>
      <label for='remember'>Recordarme</label>
      <input id='remember' type='checkbox'>
    </div>
  </div>
  <button id='login' class='btn btn-info'>Entrar</button>
</div>
<small>NodeQuizAdmin - ¡Tu manejador de examenes online!</small>

        