
<div class="span3">
  <h3>Menú</h3>
  <ul class="nav nav-list">
    <li><a href="#"> <i class="icon-home"></i>Home<i class="icon-chevron-right menuItems"></i></a></li>
    <li><a href="#collapseOne" data-toggle="collapse" class="accordion-toggle"> <i class="icon-plus-sign"></i>Acciones<i class="icon-chevron-right menuItems"></i></a></li>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <ul class="nav nav-list">
          <li><a href="#"><i class="icon-book"> </i>Ver examenes<i class="icon-chevron-right menuItems"></i></a></li>
          <li><a href="#"><i class="icon-check"> </i>Ver notas<i class="icon-chevron-right menuItems"></i></a></li>
        </ul>
      </div>
    </div>
    <li><a href="#"> <i class="icon-search"></i>Buscar profesor<i class="icon-chevron-right menuItems"></i></a></li>
  </ul>
</div>