<div class='span9'>
  <form>
    <h1>
      Crear Preguntas 
      &nbsp
      
    </h1>
    <h4>Tema: 
      <input id="examTheme" type="text" placeholder="Tema del Examen" class="input-xlarge"/></h4>
    <h4>
      1
      &nbsp
      <input id="question1Title" type="text" placeholder="Nombre de la pregunta" class="input-xxlarge"/>
    </h4>
    <div class="control-group">
      <input type="radio" name="question1" value="1" checked="checked"/>
      <controls>&nbsp
        <input id="answer1-1" type="text" placeholder="Respuesta numero 1" class="input-xlarge"/>
      </controls>
    </div>
    <div class="control-group">
      <input type="radio" name="question1" value="2"/>
      <controls>&nbsp
        <input id="answer1-1" type="text" placeholder="Respuesta numero 2" class="input-xlarge"/>
      </controls>
    </div>
    <div class="control-group">
      <input type="radio" name="question1" value="3"/>
      <controls>&nbsp
        <input id="answer1-1" type="text" placeholder="Respuesta numero 3" class="input-xlarge"/>
      </controls>
    </div>
    <div class="control-group">
      <input type="radio" name="question1" value="4"/>
      <controls>&nbsp
        <input id="answer1-1" type="text" placeholder="Respuesta numero 4" class="input-xlarge"/>
      </controls>
    </div>
    <hr/>
    <h4>
      2
      &nbsp
      <input id="question1Title" type="text" placeholder="Nombre de la pregunta" class="input-xxlarge"/>
    </h4>
    <div class="control-group">
      <input type="radio" name="question2" value="1" checked="checked"/>
      <controls>&nbsp
        <input id="answer2-1" type="text" placeholder="Respuesta numero 1" class="input-xlarge"/>
      </controls>
    </div>
    <div class="control-group">
      <input type="radio" name="question2" value="2"/>
      <controls>&nbsp
        <input id="answer2-1" type="text" placeholder="Respuesta numero 2" class="input-xlarge"/>
      </controls>
    </div>
    <div class="control-group">
      <input type="radio" name="question2" value="3"/>
      <controls>&nbsp
        <input id="answer2-1" type="text" placeholder="Respuesta numero 3" class="input-xlarge"/>
      </controls>
    </div>
    <div class="control-group">
      <input type="radio" name="question2" value="4"/>
      <controls>&nbsp
        <input id="answer2-1" type="text" placeholder="Respuesta numero 4" class="input-xlarge"/>
      </controls>
      <br>
      <button type="submit" class="btn btn-primary">Guardar Preguntas</button>
    </div>
  </form>
</div>