<div class="span9">
   <h1>Crear Examen</h1>
   <div class="form-horizontal">
      <div class="control-group">
         <label for="examName" class="control-label">Nombre del Examen</label>
         <div class="controls"><input type="text" name="examName" id="examName" class="input-xxlarge" /></div>
      </div>
   </div>
   <h3>Seleccione las preguntas:</h3>
   <ul class="nav nav-list">
      <li><a id="pregunta1"><input type="checkbox" name="question1" value="1" />Lo que sea que va en la pregunta 1</a></li>
      <li><a id="pregunta2"><input type="checkbox" name="question2" value="2" />Lo que sea que va en la pregunta 2</a></li>
      <li><a id="pregunta3"><input type="checkbox" name="question3" value="3" />Por su puesto, lo que sea que va en la pregunta 3</a></li>
   </ul>
   <br /><button class="btn btn-primary">Guardar Examen</button>
</div>