<div id="content_pane" class="span9">
  <h1><%=rc.title%></h1><div class="searchBar">
  <input id="search" type="text" placeholder="Filtrar Profesores. Por ejemplo, Juan Alejo" class="search-query span9"/>
</div>
<br/>
<div class="row">
  <div class="span2 addUserDetails">
    <a class="addUserDetails">
      <img src="img/addUserIcon_.png" class="img-rounded"/>
    </a>
  </div>

  <% _.each(rc.listUsers, function(user) {%>
    <div class="span2">
      <a><img src="img/userDefault_.png" class="img-rounded"/></a>
      <a href="#delete"><i class="icon-remove"></i></a>
      <label><%=user.name%></label>
    </div>
  <%});%>
</div>