<div id="content_pane" class="span9">
  <h1>Crear Examen</h1>
  <div class="row">
    <div class="span7">
      <h4>Titulo del examen: 
        <input id="exam_name" type="text" placeholder="Tema del Examen" class="input-xlarge"/>
      </h4>
    </div>
    <div class="span3">
      <h4>Preguntas</h4>
      <br>
      <br>
      <div id="exam_questions" class="exam_questions ui-widget-content">
        <ol style="height:100%">
            <li class="placeholder">Arrastrar preguntas aqui</li>
        </ol>
      </div>
    </div>
    <div class="span3 offset1">
      <h4>Tema: 
        <input id="questions_topic" type="text" placeholder="Tema del Examen" class="input-xlarge"/>
      </h4>
      <div class="question_bank">   
      </div>
    </div>
    <div class="span7"><br></div>
    <button id="save_exam" class="span7 btn btn-primary">Guardar Examen</button>
  <div>
</div>
