<div id="content_pane" class='span9'>
  <form action='/'>
    <h1>
      Crear Preguntas 
      &nbsp
      
    </h1>
    <h4>Tema: 
    <input id="topic" type="text" placeholder="Tema del Examen" class="input-xlarge"/></h4>
    <div id="question_pane">
    </div>
  </form>
  <button id="new_question" class="btn btn-primary">Nueva pregunta</button>
  <button id="save_questions" class="btn btn-primary">Guardar Preguntas</button>
  <span id="lbError" style="display:none" class="label label-important"></span>
  <span id="lbSuccess" style="display:none" class="label label-success"></span>
</div>